@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: v.$fuente;
    background-color: v.$gris-claro;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

p,
a {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;

    @include m.desktopXL {
        max-width: 140rem;
       
    }
}

.input-container {
    position: relative; /* Contenedor de referencia */
    width: 100%;
    margin-bottom: 15px; 
}

.input-container input {
    width: 100%;
    /* Añade espacio a la derecha para que el texto no tape el ícono */
    padding-right: 35px; 
    /* (Añade aquí tus estilos de borde, fondo, etc.) */
}

.input-container i {
    position: absolute; /* Mueve el ícono libremente */
    right: 10px;        /* Distancia desde el borde derecho */
    top: 69%;           /* Lo centra verticalmente */
    transform: translateY(-50%); /* Ajuste vertical fino */
    color: #999;        /* Color del ícono */
    pointer-events: none; /* Asegura que se pueda hacer clic en el input */
}