//colores
$oscuro: #1f2937;
$gris-claro: #f3f4f6;
$blanco: #ffffff;
$verde: #16a34a;
$rojo: #ef4444;
$azul: #2563eb;
$gris-oscuro: #e5e7eb;
$azul-claro: #f9fafb;
$gris-dark: #6b7280;


//fuente-principal
$fuente: "Source Sans 3", sans-serif;


//pantallas

$tablet: 769px;
$telfono: 480px;
$destopXL: 1400px;

//Tamaño fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;